@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root{
    --primary-color: #ff6a00;
    --background-color : white;
}

html {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*Top Navigation*/

nav {
    display: flex;
    margin-top: -20px;
    justify-content: space-between;
    align-items: center; 
    padding: 5px 20px; 
}

.nav-logo {
    width: 120px;
    height: 120px;
}

.nav-bar {
    display: flex;
    list-style: none;
    gap: 2.3em;
    margin: 0;
    padding: 0; 
    z-index: 10;
}

.nav-bar li a {
    text-decoration: none; 
    font-size: 17px;
    color: black; 
}

.nav-bar li a:hover{
    color: var(--primary-color);
    transition: all ease 0.3s;
}

.nav-button {
    z-index: 10;
    padding-right: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: grey;
    opacity: 70%;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropbtn:hover {
    background-color: var(--primary-color);
    opacity: 100%;
    transition: all ease 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -70px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--primary-color);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Footer */
.footer {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 8vh;
    background-color: #222831;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reachUs{
    font-size: 20px;
    color : #afb6c7;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

.followUs {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 14px;
    margin-top: 10px;
}

.followUs li {
    display: inline-block;
}

.followUs a {
    color: #afb6c7;
    font-size: 20px;
    text-decoration: none;
}

.footer img {
    max-width: 100px;
}

.copyrightFooter {
    text-align: center;
    color: #afb6c7;
    font-size: 11px;
    margin-top: 10px;
}
  
@media (max-width: 768px) {
    .footer {
        position: absolute;
        border-radius: 0;
        padding: 20px;
    }
}
