<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManageCarServlet</servlet-name>
        <servlet-class>AddCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCarServlet</servlet-name>
        <servlet-class>UpdateCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <servlet-class>RegisterStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCarServlet</servlet-name>
        <servlet-class>DeleteCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentStatusServlet</servlet-name>
        <servlet-class>UpdatePaymentStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageCarServlet</servlet-name>
        <url-pattern>/ManageCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCarServlet</servlet-name>
        <url-pattern>/UpdateCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <url-pattern>/RegisterStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCarServlet</servlet-name>
        <url-pattern>/DeleteCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentStatusServlet</servlet-name>
        <url-pattern>/UpdatePaymentStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
